body {
    font-family: Arial, sans-serif;
    background-color: #4c001f; /* vinho escuro */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    text-align: center;
}

input {
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background-color: #8b0000; /* vinho mais claro */
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #6b0000; /* vinho mais escuro */
}
